__pycache__
tmp
experiments/
*.egg-info
logs
3DSSG_subset
data
*.ini
*.ply
results/
scripted_model
*.pth

venv
files/*.json
files/*.txt
files/
*.zip
out/
*.txt
.vscode
.mlp
rio_renderer
experiments_bk/
experiments_old/
experiments_*
